/* FIXME xmultiquote */
ul.profile-icons .xmultiquote {
    margin-top: 4px !important;
}

ul.profile-icons .xquote-icon, ul.profile-icons .xquoted-icon {
    font-weight: bold;
    border:1px solid #333;
    background-color: #fff;
    display:inline !important;
    padding: 1px 5px 1px 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    
    color: #c44;

    background: #ccc; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff', endColorstr='#aaa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #fff,  #aaa); /* for firefox 3.6+ */
}

ul.profile-icons .xquoted-icon {
    background-color: #0f0 !important;

    background: #ccc; /* for non-css3 browsers */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0f0', endColorstr='#aaa'); /* for IE */
    background: -webkit-gradient(linear, left top, left bottom, from(#0f0), to(#aaa)); /* for webkit browsers */
    background: -moz-linear-gradient(top,  #0f0,  #aaa); /* for firefox 3.6+ */
}